<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam bem vindos ao meu blog!</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione fugit cupiditate repellendus
                necessitatibus soluta accusamus. Delectus, reprehenderit veniam? Aspernatur soluta aliquam consectetur,
                quae voluptatibus necessitatibus explicabo sint vel nostrum hic?Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Fugiat magni saepe pariatur expedita numquam alias nesciunt cum vitae? Sint magnam
                sunt aliquid a, rem pariatur eum facere inventore ex id.</p>
        </div>
    </div>
</div>
    

    <div class="parallax"></div>

    <div class="row mb-5 mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink= '/feed'>Ver o feed</button>
        </div>
    </div>

